@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: hsl(0, 0%, 8%);
    font-size: 14px;
    font-family: "Inter", sans-seri;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section{

    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
    height: 100vh;    
     
    margin: 40px 0;            
     
}
.container{
    background:  hsl(0, 0%, 12%);
text-align: center;
padding: 30px;
    border-radius: 10px;
      
}
section img{
    border-radius: 50%;
    width: 6.25rem;
     height: 6.25rem;
   
}
section .text h2{
  
    font-weight: 900;
   margin-top: 20px;
    

}
section .text h5{
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    margin-top: 10px;
}
section .container .text p{
    color:  hsl(0, 0%, 20%);
  
    font-weight: 400;
    margin-top: 30px;
   
}
.section  .links{
   
 
    display: flex;
    flex-direction: column; 


}
.section   a {

    background-color: hsl(0, 0%, 20%); 
   margin-top: 20px;
 color:  hsl(0, 0%, 100%);
   border-radius: 5px; 
   align-self: center;
   width:  250px;
   padding:  8px 10px;

text-align: center;
font-weight: 400;
text-decoration: none;
}

.section   a:hover{
    cursor: pointer;
    background: hsl(75, 94%, 57%);
    color: black;
}
